<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <nav class="shadow-lg">
        <div class="flex flex-wrap justify-between ml5 items-center mx-aut px-4 py-2.5">
            <a href="" class="flex items-center">
                <img class="h-6 mr-3" src="https://cdn0.iconfinder.com/data/icons/phosphor-duotone-vol-1/256/books-duotone-512.png" alt="" >
                <span class="self-center text-xml font-semibold">Digital Maket</span>
            </a>
            <div class="flex items-center">
                <a href="" class="mr-6 text-sm font-medium text-grey-500">Dashboard</a>
                <a href="" class="mr-6 text-sm font-medium text-grey-500">Upload books</a>
                <a href="" class="mr-6 text-sm font-medium text-grey-500">See chart</a>
                <a href="" class="mr-6 text-sm font-medium text-grey-500">My favourite</a>
                <a href="{% url 'logout' %}" class="mr-6 text-sm font-medium text-grey-500">Logout</a>

            </div>
        </div>
    </nav>
    {% block body %}
    
    {% endblock %}
    
</body>
</html>