{% extends 'myapp/base.html' %} 
{% block body %}
<!-- <form class="d-flex">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form> -->


<div class="flex p-10" style="padding-top: 7rem;">
  <div>
    <img
      src="{{ product.file.url }}"
      alt=""
    />
  </div>
  <div class="pl-10">
    <div class="text-2xl mb-4">{{ product.name }}</div>
    <div class="mb-4">{{ product.description }}</div>
    <div class="mb-4 text-green-700 font-bold">${{ product.price }}</div>
  </div>
</div>

<div class="p-10 ml-5">
    <hr>
    <h2 class="text-xl mb-4 mt-6">Comments...</h2>
    <br/>

    <!-- product model connects the comment model -->
    {% if not product.comments.all %}
        No comments yet... 
        <a href="{% url 'comment' product.id%}">Add One</a>
    {% else %}
    <a href="{% url 'comment' product.id%}">Add Comment</a>
    <br/><br/>
    {% endif %}

    <div class="comment-section">
        {% for comment in product.comments.all %}
            <div class="comment">
                <div class="star-rating">
                  {% for _ in comment.get_rating_range %}
                      <i class="fas fa-star"></i>
                  {% endfor %}
                  {% for _ in comment.get_empty_star_range %}
                      <i class="far fa-star"></i>
                  {% endfor %}
                </div>
                <div class="comment-content">
                    <strong class="px-2">{{comment.user}} - {{comment.dated}}</strong>
                    <br/>
                    {{ comment.content }}
                </div>
                <br/>
            </div>
        {% empty %}
            No comments yet.
        {% endfor %}
    </div>

    <br>
    <hr>
</div>

{% endblock %}
